<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trainedge.majorproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sl_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sl_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Feedback"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bcf05efda2ada3c6ce2cb38a06d621d34e9f5634" />

        <activity
            android:name=".EmbeddedTweetActivity"
            android:label="@string/title_activity_embedded_tweet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmbeddedTimelineActivity"
            android:label="@string/title_activity_embedded_timeline"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FacebookAcitivity"
            android:label="@string/title_activity_facebook_acitivity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="trainedge.majorproject.HomeActivity" />
        </activity>
        <activity
            android:name=".GoogleActivity"
            android:label="@string/title_activity_google"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TwitterActivity"
            android:label="@string/title_activity_twitter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LinkedInActivity"
            android:label="@string/title_activity_linked_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InstagramActivity"
            android:label="@string/title_activity_instagram"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FirebaseDatabaseDemo"
            android:label="@string/title_activity_firebase_database_demo"></activity>
    </application>

</manifest>